<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <!-- <a class="navbar-brand" href="#">Dream Connectors</a> -->
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">HOME</a></li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">COURSES</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
              </li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">APPLY ONLINE</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
              </li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">ADMISSIONS</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
              </li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">STUDENT ZONE</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
              </li>
              <li>
                <div class="dropdown">
                    <button class="dropbtn">ABOUT  US</button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
              </li>
              <li>
                  <div class="dropdown">
                      <button class="dropbtn">CONTACT US</button>
                      <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                      </div>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li class="active"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
        
      <div class="container para">
        <h1 >Built for developers</h1>
        <h3>GitHub Repo-manager is a development platform inspired by the way you work.<br>
        <br>
        </h3>
      <div class="altimage">
        <img src="assets/head1.png" class="img-fluid" id="headres">
      </div>  
      <h1>A better way to work together </h1>
      <h3>GitHub brings teams together to work through problems, move ideas forward, <br>and learn from each other along the way.</h3>
      <div class="altimage1">
      <img src="assets/head3.png" class="img-fluid" id="headres">
      </div>
      <h1>Get started for free — join the millions of developers </h1>  
       <h3>Millions of users already using GitHub to share their code, work together, and build amazing things.<br>
    You can access their repo by submit user name. </h3>
    </div>